
{% extends 'portfolio/base.html' %}

{% block content %}	
	<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">

	<div class="container" style="padding-top: 50px; padding-bottom: 100px;">
		<h2 align="center" style="font-family: 'Julius Sans One', sans-serif;">Recent Blogs by Shweta Patne </h2><br><br>
	
		<div> 
			<h3 align="center" style="font-family: 'Merriweather Sans', sans-serif;"> {{blogs.count}} blog{{blogs.count | pluralize}} </h3>
			<br><br>
			{%for blog in blogs%}
			<a href="{% url 'blog:detail' blog.id %}"><h3 style="font-family: 'Montserrat', sans-serif;"> {{blog.title}} </h3></a>
			<h4> {{blog.date}} </h4>
			<p style="font-family: 'Tajawal', sans-serif;"> {{blog.description|striptags|truncatechars:100}} </p>
			
			{% if blog.url %}
			<br> <a href="{{blog.url}}">Link to blog</a>
			{% endif %}
			
			{% endfor %}
		</div>
	</div>
	
{% endblock %}

